.header{
    background-color: rgb(77, 50, 122);
    width:100%;
    height: 150px;
    

}
.left-section{
    
    background-color: wheat;
    width:20%;
    height: 400px;
    float: left;
}
.right-section{
    
    background-color: rgb(4, 92, 80);
    width:80%;
    height: 400px;
    float: left;
}
.section{
    height: 400px;
}
.footer{
    height: 150px;
    width: 100%;
    background-color: darkslategray;
}
body{
    margin:0;
}